html {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 1.5vw;
}

.icon-hunger {
    background-image: url("./icon_food.png");
    width: 50px;
    height: 80px;
    overflow: hidden;
}

.icon-soda {
    background-image: url("./soda.png");
    width: 50px;
    height: 80px;
    overflow: hidden;
}

.progress-hunger {
    width: 105px;
    height: 15px;
    border-radius: 5px;
    margin: 2px;
    overflow: hidden;
}

.progress-water {
    width: 105px;
    height: 15px;
    border-radius: 5px;
    margin: 2px;
    overflow: hidden;
}

.progress-hunger {
    background: #fec20f46;
}

.progress-water {
    background: #0f7ffe3d;
}

.progress-hunger .progressfill {
    border-radius: 2px;
    width: 0%;
    height: 100%;
    background: #ff910069;
}

.progress-water .progressfill {
    border-radius: 2px;
    width: 0%;
    height: 100%;
    background: #0383d352;
}